.login-page {
  background: url('../images/mainlib_cover.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 400px;
}
