.login-page {
  background: url('../images/main lib aerial cover.png') no-repeat center center fixed;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  max-width: 400px;
  width: 100%;
  margin: auto;
}