body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#propertiesTable th.sorting,
#propertiesTable th.sorting_asc,
#propertiesTable th.sorting_desc {
  text-align: left !important;
  padding-right: 20px !important; /* Give space for the arrow */
}

#propertiesTable th.sorting::after,
#propertiesTable th.sorting_asc::after,
#propertiesTable th.sorting_desc::after {
  float: right !important; /* Force the arrow to the right */
  margin-left: 5px;
}
